.section-two {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
  }

  .section-two > h4 {
    text-align: justify;
    line-height: 30px;
    margin-bottom: 60px;
  }