.logo-generator {
    width: 650px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-generator > p {
    width: 280px;
    font-family: 'PragmaticaLight';
    color: var(--midnight-blue);
    text-align: center;
    font-weight: 300;
    margin-top: -135px;
}

.cloudlogo {
    width: 280px;
    margin-bottom: -370px;
}