:root {
  --middle-yellow: #ffe600;
  --snow-ice: #fcf8f7;
  --midnight-blue: #000a6b;
}

@font-face {
  font-family: 'KenyanCoffee-Bold';
  src: local('KenyanCoffee-Bold'), url('./fonts/kenyancoffeebd.woff') format('woff');
}

@font-face {
  font-family: 'KenyanCoffee-Regular';
  src: local('KenyanCoffee-Regular'), url('./fonts/kenyancoffee.woff') format('woff');
}

@font-face {
  font-family: 'PragmaticaLight';
  src: local('PragmaticaLight'),
  url('./fonts/Pragmatica_Extended-Light.woff') format('woff');
}

@font-face {
  font-family: 'PragmaticaMedium';
  src: local('PragmaticaMedium'),
  url('./fonts/Pragmatica_Extended-Medium.woff') format('woff');
}

@font-face {
  font-family: 'PragmaticaBold';
  src: local('PragmaticaBold'),
  url('./fonts/Pragmatica_Extended-Bold.woff') format('woff');
}

@font-face {
  font-family: 'PragmaticaBlack';
  src: local('PragmaticaBlack'),
  url('./fonts/Pragmatica_Extended-Black.woff') format('woff');
}

@font-face {
  font-family: 'BlockMarys';
  src: local('BlockMarys'),
  url('./fonts/block-marys.woff') format('woff');
}

@font-face {
  font-family: 'BettyNoir';
  src: local('BettyNoir'),
  url('./fonts/bettynoir.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'),
  url('./fonts/Helvetica-Neue-Medium-Extended.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeue67';
  src: local('HelveticaNeue67'),
  url('./fonts/Helvetica-Neue-67-Medium-Condensed.woff') format('woff');
}

@font-face {
  font-family: 'DharmaGothic';
  src: local('DharmaGothic'),
  url('./fonts/Dharma-Gothic-E-Light.woff') format('woff');
}

@font-face {
  font-family: 'OrbitronBold';
  src: local('OrbitronBold'),
  url('./fonts/5470.woff') format('woff');
}

@font-face {
  font-family: 'BisposBold';
  src: local('BisposBold'),
  url('./fonts/32119.woff') format('woff');
}

* {
  margin: 0;
}
